body {
    background-color: rgb(6, 133, 55);
}

header {
    position: absolute;
    height: 150px;
    width: 100%;
}

header img {
    position: absolute;
    width: 150px;
    left: 560px;
}

h1 {
    position: absolute;
    top: 150px;
    left: 450px;
    font-family: cursive;
    font-size: 50px;
    color: rgb(209, 178, 3);
}

p {
    position: absolute;
    top: 260px;
    text-align: center;
    left: 50px;
    color: #fff;
}

#voltar {
    color: rgb(128, 0, 100);
    position: absolute;
    left: 30px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    top: 25px;
}