@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Pacifico&display=swap');

body {
    background-color: rgb(6, 133, 55);
    font-family: "Poppins", sans-serif;
    
}

header {
    position: absolute;
    height: 150px;
    width: 100%;
}

header img {
    position: absolute;
    width: 150px;
    left: 560px;
}

h1 {
    position: relative;
    top: 150px;
    left: 450px;
    font-family: cursive;
    font-size: 50px;
    color: rgb(209, 178, 3);
}

p {
    position: relative;
    top: 260px;
    text-align: center;
    left: 50px;
    color: #fff;
    font-size: 110%;
    width: 95%;
}

#voltar {
    color: rgb(128, 0, 100);
    position: absolute;
    left: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    top: 25px;
}

a {
    color:rgb(209, 178, 3);
}